<div class="col-10 offset-1 about">
  <h1>About Splurty!</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/brettsimington">Brett </a>Who is a web developer on a mission to give people the expertise needed to run their company.
  </p>
  <br />
  <p>
    Brett was taught by Ken and Marco, who taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
<div class="col-12 col-sm-4">
  <%= image_tag 'brett.jpg', class: 'img-fluid' %>
</div>

<div class="col-12 col-sm-7 offset-sm-1">
  <h2 class="text-center">Brett Simington</h2>
  <br />
  <p>
    Brett Simington is a web developer and ... He worked for Fortune 500 companies like AAA Auto Club Group, and ..
  </p>
</div>
</div>
<br class="clear" /> 

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
